<% include ../partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">My Blog Posts</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% blogs.forEach(function(blog){ %>
                <div class="item">
                    <div class="image">
                        <img src="<%= blog.image %>" >
                    </div>
                    <div class="content">
                         <a class="header" href="/blogs/<%= blog._id %>"><%=blog.title%></a>
                         <div class="meta">
                             <span><%= blog.created.toDateString() %></span>
                         </div>
                         <div class="description">
                            <p><%- blog.content.substring(0, 150) %>...</p>
                         </div>
                         <div class="extra">
                             
                             <a class="ui right labeled secondary icon button" href="/blogs/<%= blog._id %>">
                                <i class="right chevron icon"></i>
                                Read More
                             </a>
                         </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<% include ../partials/footer %>
